<div class="container">
  <a role="button" class="mb-3">
    <img src="../../../assets/logo.png" height="150" />
  </a>
  <app-pokemon-filter></app-pokemon-filter>
  <ng-container *ngIf="totalPokemons$ | async as total">
    <app-pokemon-list *ngIf="pokemons$ | async as pokemons">
      <app-pokemon-item
      pokemon-item
      [pokemon]="pokemon"
      *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage, totalItems: total }"
      >
    </app-pokemon-item>
    </app-pokemon-list>
    <app-paginator [total]="total" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-paginator>
  </ng-container>
</div>
