.theme-icon{
  color: var(--text);
  margin-right: 1rem;
}

.form-control {
  background-color: var(--input);
  border: var(--input-border);
  color: var(--input-text);
  font-size: 16px;
  border-radius: 8px;
  &:focus {
    background-color: var(--input);
    border: var(--input-border);
    color: var(--input-text);
    box-shadow: var(--input-glow);
  }
}
