.pokemon-item {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--card);
  min-height: 100px;
  display: flex;
  align-items: center;
}

.pokemon-id {
  color: #fff;
  background-color: var(--card-lighter);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 18px;
}

h2 {
  color: #fff;
}

.pokemon-fav {
  padding: 0 2rem;
  ng-icon {
    color: var(--star);
  }
}
