[data-theme="dark"] {
  --card: #3e3e3e;
  --card-lighter: color-mix(in srgb, var(--card), #fff 15%);
  --text: #fff;
  --background: #282928;
  --star: #ffcc00;
  --actions: #6bc6d0;
  --actions-hover: #ffcc00;
  --input: var(--card);
  --input-border: 1px solid var(--card);
  --input-glow: 0 0 0.15rem 0.2rem var(--card-lighter);
  --input-text: #fff;
  --search-btn: var(--card-lighter);
  --modal-background: var(--card-lighter);
}

[data-theme="default"] {
  --card: #3b87fa;
  --card-lighter: color-mix(in srgb, var(--card), #fff 15%);
  --text: #282928;
  --background: #e1e1e1;
  --star: #ffcc00;
  --actions: #fff;
  --actions-hover: #f2ca63;
  --input: #f7f7f7;
  --input-border: 1px solid lightgray;
  --input-glow: 0 0 0.15rem 0.2rem #3b87fa50;
  --input-text: #282928;
  --search-btn: #e4e4e4;
  --modal-background: var(--background);
}

[data-theme="dark-blue"] {
  --card: #2c3145;
  --card-lighter: #383e57;
  --text: #fff;
  --background: #242736;
  --star: #ffcc00;
--actions: #fff;
  --actions-hover: #f2ca63;
  --input: var(--card);
  --input-border: 1px solid var(--card);
  --input-glow: 0 0 0.15rem 0.2rem #ffffff25;
  --input-text: #fff;
  --search-btn: var(--card);
  --modal-background: var(--card-lighter);
}
