:host {
  width: 100%;
}

.comments-card {
  color: #fff;
  background-color: var(--card-lighter);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

button {
  min-width: fit-content;
}

.comments-label {
  color: #fff;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &.empty-comment{
    background-color: var(--card-lighter);
    padding: 1rem;
    border-radius: 1rem;
  }

  button {
    display: flex;
    padding: 0;
    color: #fff;
    &:hover {
      color: var(--star);
    }
  }
}
